---
layout: default
title: "Welcome!"
---

<h1>Welcome!</h1>

<p>Thanks for dropping by. I'm Raphael - an I.T. professional with 20 years of experience in a variety of sectors.</p>

<p>I like to think about software engineering, the study of computer science, informatics, the mathematics underlying it all, and how we interact with industry.</p>

<p>Currently I'm developing in Functional languages such as Clojure, Scala and Elm. I am enjoying the experience of working in new languages - and I appreciate their modern views of old approaches.</p>

<p>SOON you will find a drawing repository on <a href="https://github.com/Zsuark">my GitHub page</a>. The content is simple, but it will be a good starting point for a number of topics to review. Over the next little while, I will be reviewing the code the and writing about the experience.</p>
<br>
<h1>Posts</h1>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<p class="author">
	<span class="date">
		<a href="{{ post.url }}">
			{{ post.date | date: '%A'}}, the
			{% assign d = post.date | date: "%-d" %}
			{% case d %}
			{% when '1' or '21' or '31' %}{{ d }}st
			{% when '2' or '22' %}{{ d }}nd
			{% when '3' or '23' %}{{ d }}rd
			{% else %}{{ d }}th
			{% endcase %}
			{{ post.date | date: '%B, %Y'}}
		</a>
	</span>
</p>
{% endfor %}

<!-- Pagination links -->
{% if paginator.previous_page or paginator.next_page %}
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	{% else %}
	<span class="previous">Previous</span>
	{% endif %}
	<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% else %}
	<span class="next ">Next</span>
	{% endif %}
</div>
{% endif %}
