---
---

@import "{{ site.theme }}";
#main-content h1 {
	color: #2879d0;
};

#main-content a.post-link {
	// color: #79d028;
	// color: #a3d028;

	// color: #D02879;
	background-color: #9ddcff;
}

#main-content a.post-link:hover {
	// color: #79d028;
	// color: #a3d028;

	// color: #9ddcff;

	color: #fff;
}